<html xmlns:th="http://www.thymeleaf.org">
 <div th:insert="navbar.html"></div>
 <body onload="makeActive('date')">
     <table class='ta' style='width:50%' border='3'>
	   <tr style='background-color:orange;color:white'>
	    <td colspan="2" align="center" class='la pd'>Employee Details</td>
	   </tr>
	   <tr>
	    <th align="left">Employee Id</th>
	    <td class='pd' th:text="${employee.eid}"></td>
	   </tr>
	   <tr>
	    <th align="left">Employee name</th>
	     <td class='pd' th:text="${employee.name}"></td>
	   </tr>
	   <tr>
	    <th align="left">Employee Department</th>
	     <td class='pd' th:text="${employee.department}"></td>
	   </tr>
	 </table>
	 <div class='dvv'>
	    <button class='btr' onclick='history.back()'>Back</button>
	 </div>
 </body>
</html>    