<html xmlns:th="http://www.thymeleaf.org">
 <div th:insert="navbar.html"></div>
 <body onload="makeActive('in')">
 <form action="intime/update" method="post">
  <input type='hidden' name='name' id='name'>
  <div class='dv'>
   <label class='lahu'>Update employee in time</label>
  </div> 
  <div class='dv'>
   <select name="eid" id="eid" class='la'>
      <option value="-1">Select Employee</option>
      <option th:each="emp:${elist}" th:value="${emp.eid}" th:text="${emp.name+'('+emp.eid+')'}"></option>
   </select>
  </div>
  <div class='dv'>
   <button class='btn btn-primary' onclick="return checkEmployee()">Submit</button>
  </div>
 </form> 
 </body>
</html>